@model List<Patient>
@{
    ViewData["Title"] = "Patients";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2>Patients:</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Phone number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in @Model)
                {
                    <tr>
                        <td>
                            <a href="../patient/details/@patient.Id">
                                <img src="~/img/profile/@patient.Photo"
                                 class="rounded-circle"
                                 height="40" width="40"
                                 asp-append-version="true" />
                            </a>
                            <a href="../patient/details/@patient.Id">@patient.Name @patient.LastName</a>
                        </td>
                        <td><a href="mailto:@patient.Email">@patient.Email</a></td>
                        <td>@patient.Bday.ToShortDateString()</td>
                        <td>@patient.Phone</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@patient.Id" method="post">
                                <a class="btn btn-primary" href="patient/edit/@patient.Id" role="button"><i class="fas fa-edit"></i> Edit</a>
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove client: @patient.Name @patient.LastName?')"><i class="fas fa-trash-alt"></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-dark-red mb-5" asp-action="Create" role="button"><i class="fas fa-plus"></i> Create</a>
</body>
</html>