@model EditDossierViewModel
<!DOCTYPE html>
<html>
<body>
    <h1>Edit</h1>
    <h4>Dossier</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <span class="font-weight-light font-italic">* is required.</span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" value="@ViewBag.Dossier.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="DiagnosisCode" class="control-label">DiagnosisCode: *</label>
                    <select asp-for="DiagnosisCode" asp-items="@ViewBag.DiagnosisCodes" class="form-control"></select>
                    <span asp-validation-for="DiagnosisCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhysioTherapistId" class="control-label">PhysioTherapist:</label>
                    <select asp-for="PhysioTherapistId" asp-items="@ViewBag.PhysioTherapists" class="form-control"></select>
                    <span asp-validation-for="PhysioTherapistId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IntakeDoneBy" class="control-label">Intake done by: *</label>
                    <select asp-for="IntakeDoneBy" asp-items="@ViewBag.PhysioTherapistsIntake" class="form-control"></select>
                    <span asp-validation-for="IntakeDoneBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IntakeUnderSuperVisionBy" class="control-label">Intake under supervision by:</label>
                    <select asp-for="IntakeUnderSuperVisionBy" asp-items="@ViewBag.PhysioTherapistsSupervisor" class="form-control"></select>
                    <span asp-validation-for="IntakeUnderSuperVisionBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HeadPractitioner" class="control-label">Head practitioner: *</label>
                    <select asp-for="HeadPractitioner" asp-items="@ViewBag.PhysioTherapistsHead" class="form-control"></select>
                    <span asp-validation-for="HeadPractitioner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfRegistration">Date of registration: *</label>
                    <input type="date" asp-for="DateOfRegistration" value="@ViewBag.Dossier.DateOfRegistration.ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="DateOfRegistration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfEndProcedure">Date of end procedure: </label>
                    @if (@ViewBag.Dossier.DateOfEndProcedure == null)
                    {
                        <input type="date" asp-for="DateOfEndProcedure" value="" class="form-control" />
                    }
                    else
                    {
                        <input type="date" asp-for="DateOfEndProcedure" value="@ViewBag.Dossier.DateOfEndProcedure.ToString("yyyy-MM-dd")" class="form-control" />
                    }
                    <span asp-validation-for="DateOfEndProcedure" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LengthOfTreatments">Length of each appointment: *</label>
                    <input type="time" asp-for="LengthOfTreatments" value="@ViewBag.Dossier.LengthOfTreatments.ToString("HH:mm")" class="form-control" />
                    <span asp-validation-for="LengthOfTreatments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmountOfTreatments">Amount of appointments per week: *</label>
                    <input asp-for="AmountOfTreatments" value="@ViewBag.Dossier.AmountOfTreatments" class="form-control" />
                    <span asp-validation-for="AmountOfTreatments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc">General description of patient's complaints: *</label>
                    <input asp-for="Desc" value="@ViewBag.Dossier.Desc" class="form-control" />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark-red"><i class="fas fa-save"></i> Opslaan</button>
                <a class="btn btn-secondary" asp-action="Index" role="button"><i class="fas fa-undo"></i> Terug</a>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}